/*--------------------------------------------MUSIC PLAYER---------------------------------------------------*/ 

.mp{
    position:fixed;
    bottom:0;
    min-height: 5vh;
      max-height: 10vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #1a1c22;
  }
  .mp button{
      padding: 10px 12px;
      margin: 0 10px;
  }
  
  
  
  .details input[type=range]{
      width: 40%;
  }
  
  .details{
      width: 100%;
      padding: 10px 10px;
      display: flex;
      align-items: center;
      flex-direction: row;
  }
   .details .middle{
       width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  
  
  .details .middle button{
      border: none;
      height: 30px;
      width: 30px;
      border-radius: 50%;	
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
      transition: 0.5s;
      background: #fff;
  }
  .song_detail{
      position: relative;
      width: 80%;
      margin-left: 20px;
  /*	border: 1px solid #fff;*/
  }
  .song_detail #title{
      text-transform: capitalize;
      color: #FFF;
      font-size: 20px;
  }
  
  .details .duration{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      margin-right: 20px;
      
  }
  .duration input[type="range"] {
      flex: 1;
  }
  
  #play{
      background: #fff;
  }
  
  
  .details button:hover{
      background: #3e5190;
  }
  .details i:before{
      font-size: 20px;
    color: #282932;
  }
  
  .show_song_no p:nth-child(2){
      margin: 0 5px;
  }
  
/*-------------------------------------------------MOBILE MUSIC PLAYER----------------*/
